{% extends 'base.html' %}
{% block content %}
<div class="product-detail">
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="300px">
    <p>{{ product.description }}</p>
    <p><strong>Price:</strong> ${{ product.price }}</p>
    <div class="actions">
        <a href="{% url 'product_update' product.pk %}" class="button">Edit</a>
        <form action="{% url 'product_delete' product.pk %}" method="post" style="display:inline;">
            {% csrf_token %}
            <a href="{% url 'product_delete' product.pk %}" class="button delete">Delete</a>
        </form>
    </div>
</div>
{% endblock %}
